site_name: Firesteel
site_author: Xanytka Devs
repo_name: xanytka-devs/firesteel
repo_url: https://github.com/xanytka-devs/firesteel
docs_dir: 'source/'
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
theme:
  name: material
  features:
    - navigation.footer
    - content.code.copy
  # General config
  font:
    text: Inter
    code: Ubuntu Mono
  favicon: assets/favicon.png
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/auto-mode
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xanytka-devs
    - icon: material/web
      link: https://xanytka.ru/
    - icon: fontawesome/brands/telegram
      link: https://t.me/xanytka
    - icon: fontawesome/brands/vk
      link: https://vk.com/xanytka
nav:
  - Главная: index.md
  - Конфигурация: flags.md
  - Туториалы:
    - Пакеты: tutorials/packages.md
    - Первое окно: tutorials/your_own_window.md
    - Загрузка модели: tutorials/loading_models.md
    - Модель без загрузки: tutorials/custom_mesh.md
    - Создание компонентов: tutorials/custom_components.md